@use "./../Partials/mixins";
@use "./../Partials/palettes";

.contact {
    width: 100vw;
    @include mixins.flex-column;
    @include mixins.primary-palette;

    &-wrapper {
        min-width: 70vw;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 3rem;
    }

    &__title {
        @include mixins.section-title;
    }
}

.contact__img {
    width: 8vw;
    height: 8vh;
    color: palettes.$tertiary-color;

    &2 {
        width: 8vw;
        height: 8vh;
        fill: palettes.$tertiary-color;
    }
}

.link {
    text-decoration: none;
    color: palettes.$secondary-color;
    font-size: 3vh;

    &:hover {
        color: palettes.$tertiary-color;
    }

    &__wrapper {
        padding: 4vh 4vw 4vh 4vw;
        @include mixins.flex-column;
    }
}

.contactIcon {
    font-size: 3rem;
}
